[attr]saneWs text eol=native whitespace=tab-in-indent,space-before-tab,blank-at-eol,-blank-at-eof,tabwidth=4

* text=auto eol=native
*.rs saneWs
*.toml saneWs

.gitattributes saneWs
.gitignore saneWs
