#![enable(unwrap_newtypes)]

(
    mybool: true,
    list: [
        NestedStruct(
            a: "string",
            also: "string \nwith escapes!",
            and: "
even
newlines work!",
        ),
    ],
)